html, body{
    margin: 1%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 30%;
    border: 1px solid #5174b9;
    margin-top: 1%;
}

th{
    padding: 8px;
    font-size: large;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: rgba(2, 129, 227, 0.13)
}